*{
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

img{
    width: 100%;
}

nav{
    height: 100px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style-type: none;
}

a{
    color: #000;
    text-decoration: none;
}

.nav{
    font-size: 1.15rem;
    width: 100%;
    background-color:blueviolet;
    position: fixed;
}

.nav>div{
    height: 60px;
}

.nav>div>a>img{
    width: auto;
    height: 100%;
}

.list>li{
    display: inline-block;
    margin: 0 40px;
}

.fa-user{
    font-size: 30px;
    position: relative;
    top: 15px;
    cursor: pointer;
}

main{
    padding-top: 100px;
}

#login{
    background-color: rgb(190, 190, 190);
    width: 400px;
    padding: 90px 30px 120px 30px;
    gap: 20px;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 180px);
}

#login>input{
    width: 80%;
    padding: 0 20px;
    font-size: 1rem;
    border: none;
    height: 40px;
    position: relative;
    left: 10%;
}

#login>input[type="submit"]{
    top: 2rem;
    background-color: blueviolet;
}

#login ~ a{
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% + 135px);
}